<div class="page" data-page="yyjlxx">
  <div class="row">
    <div class="col-100 tablet-100">
      <div class="navbar">
        <!-- 导航条-->
        <div class="navbar-inner2">
          <div class="left" style="display: inline-block;width:100%">
            <a href="javascript:void(0);" class="tsyyjlback link">
              <i class="icon icon-back"></i>
              <span style="padding-top: 5px;width:100%;">
                <span style="font-size:1rem;color:cornflowerblue">返回</span>
                <span style="font-size:1.5rem;color:skyblue;position:relative;margin-left:33%;">记录详情</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="list-block" style="margin:0px !important;">
    <ul style="padding-top: 25px;height:100%;">
      <div class="">
        <li class="item-content" style="height: 50px; ">
          <div class="item-media"><i class="icon ordertimeicon"></i></div>
          <div class="item-inner" style="">
            <div class="item-title" style="color: black;width:100%;">预约时间：</div>
            <div class="item-input">
              <input type="text" id="yyrq" readonly>
            </div>
          </div>
        </li>
      </div>
      <div>
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon Prisonsicon"></i></div>
          <div class="item-inner">
            <div class="item-title" style="color: black;width:100%;">监所名称：</div>
            <div class="item-input">
              <input type="text" id="jsmc" readonly>
            </div>
          </div>
        </li>
      </div>
      <div>
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon Prisonsicon"></i></div>
          <div class="item-inner">
            <div class="item-title" style="color: black;width:100%;">访问状态：</div>
            <div class="item-input">
              <input type="text" id="state" readonly>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
