<div class="page">
	<div class="page-content" >
	<div class="navbar">
		<!-- 导航条-->
		<div class="navbar-inner">
			<a href="javascript:void(0);" class="link back">
				<i class="icon icon-back"></i>
				<span style="padding-top: 3px">提审预约</span>
			</a>
		</div>
	</div>
	<div class="index_bg">
		<div style="position:absolute;top:15%;left:36%;">
			<h3 style="color: white;text-align: center ">
				<img src="{{model.imageBase64}}" onerror="this.src='img/police.jpg'" height="100" width="100"><br>
				<span style="font-family: cursive;font-size: 15pt;">{{model.username}}</span>
			</h3>
		</div>
	</div>
	<div class="row ">
		<div class="col-100 tablet-100" style="height:40rem;">
			<div class="list-block homeblock" style="margin:0px !important;">
				<ul style="padding-top:10px;height:50rem;">
					<a href="javascript:void(0);" class="item-link yydj">
						<li class="item-content" style="margin: 0px 0px;">
							<div class="item-media"><i class="icon ordericon"></i></div>
							<div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
								<div class="item-title" style="color: black">提审预约</div>
							</div>
						</li>
					</a>
					<a href="javascript:void(0);" class="item-link yyjl">
						<li class="item-content" style="margin: 10px 0px;">
							<div class="item-media"><i class="icon recordicon"></i></div>
							<div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
								<div class="item-title" style="color: black;margin-left: 1%;">预约记录</div>
							</div>
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>
