
	<div class="navbar">
		<!-- 导航条-->
		<div class="navbar-inner">
			<a href="#"  class="button button-round button-fill close-popup" style="width: 180px">关闭</a>
			<div class="buttons-row">
		        <a href="#tab1" id="showTab1" class="tab-link active button" style="width: 60px">常用</a>
		        <a href="#tab2" id="showTab2" class="tab-link button" style="width: 60px">全部</a>
			</div>
		</div>
	</div>
	
<div class="searchbar searchbar-badw">
    <div class="searchbar-input">
        <input type="search" placeholder="请输入单位名称...">
        <a href="#" class="searchbar-clear"></a>
    </div>
    <a href="#" class="searchbar-cancel">取消</a>
</div>
<div class="searchbar-overlay"></div>
<div class="page-content">
    <div class="content-block searchbar-not-found">
	未搜索到结果...
    </div>
    <div class="list-block list-block-search searchbar-found" style="margin-top: 0px;">
    
    
    	<div class="page-content tabs">
			<div id="tab1" class="tab active">
		        <div class="content-block tab1 showTab" style="height:100%;width:100%;margin: 0 0;padding: 0 0;">
		        	无常用单位信息...
		        </div>
			</div>
			<!-- Tab 2 -->
			<div id="tab2" class="tab">
				<div class="content-block tab2 showTab" style="height:100%;width:100%;margin: 0 0;padding: 0 0;">
					未搜索到结果...
		        </div>
			</div>
		</div>

    </div>
</div>
