<ul>
	{{#each data}}
		<li class="jsmc" value="{{dwbh}}" jsmc="{{dwmc}}" type="{{type}}">
			<div class="item-content">
				<div class="item-title" style="font-size:1.2rem;color:cornflowerblue">{{dwmc}}</div>
			</div>
		</li>
	{{/each}}
</ul>	       
	       
