<ul id="select">
  {{#each data}}
    <li class="item-content jsmc" value="{{dwbh}}" jsmc="{{dwmc}}">
      <div class="item-inner" value="{{dwbh}}">
        <div class="item-title" style="font-size:1.2rem;color:cornflowerblue">{{dwmc}}</div>
      </div>
    </li>
  {{/each}}
</ul>
