<div class="page">
  <div class="navbar">
    <!-- 导航条-->
    <div class="navbar-inner">
      <div class="left ">
        <div class="left" style="display: inline-block">
          <a href="javascript:void(0);" class="yydjback link">
            <i class="icon icon-back"></i>
            <span style="padding-top: 3px">新增预约</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="list-block">
    <ul style="padding-top: 25px;height:100%;">
      <div class="">
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon Prisonsicon"></i></div>
          <div class="item-inner">
            <div class="item-title" style="color: black;width:100%;">选择监所：</div>
            <div class="item-input">
           	  <input type="text" id="choosejs" placeholder="请选择监所"/>
            </div>
            <input type="text" id="jsbhfm" name="jsbh" style="display: none" />
          </div>
        </li>
      </div>
      <div>
        <li class="item-content" style="height: 50px; ">
          <div class="item-media"><i class="icon ordertimeicon"></i></div>
          <div class="item-inner" style="">
            <div class="item-title" style="color: black;width:100%;">预约时间：</div>
            <div class="item-input">
              <input type="date" id="yysj">
            </div>
          </div>
        </li>
      </div>
      <div>
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon PrisonsiconRoom"></i></div>
          <div class="item-inner">
            <div class="item-title" style="color: black;width:100%;">监所剩余房间数：</div>
            <div class="item-input">
              <input type="text" id="syfj" readonly>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div class="toolbar">
    <div class="toolbar-inner">
      <a href="javascript:void(0);" id="sqyyId" class="button button-big button-round active" style="width:100%;">申请预约</a>
    </div>
  </div>


</div>
