.index_bg{
    width:100%;
    /*height:40%;*/
    height:200px;
    position:relative;
    background-image:url("../img/PcsLogin_bg.jpg");
    margin-top:0%;
    background-size:cover;
}

.list-block ul{
    background: #F8F8FF;
}

.infoblock{
     position:relative;
     top:0%;
 }

.homeblock{
    position:relative;
    top:0%;
}

.item-title span{
    font-family: SimHei;
    color: cornflowerblue;
    font-size: 1.5rem;
}

.item-title p{
    font-family: SimHei;
    color: black;
    font-size: 1rem;
}

.indexblock{
    position:relative;
    top:0%;
    margin:0px !important;
}
.navbar, .toolbar{
    height:50px !important;
}

 .demo-icon-1{
    width:25px;
    height:30px;
    left:15%;
    background-image:url("../img/Pcsdoor.png")
}

.demo-icon-2{
    width:25px;
    height:30px;
    left:20%;
    background-image:url("../img/Pcsbusiness.png")
}

.demo-icon-3{
    width:25px;
    height:30px;
    left:20%;
    background-image:url("../img/PcsPerson.png")
}

 .demo-icon-1:active{
    width:25px;
     height:30px;
    background-image:url("../img/Pcsactivedoor.png")
}

.demo-icon-2:active{
    width:25px;
    height:30px;
    background-image:url("../img/Pcsbusinessactive.png")
}

.demo-icon-3:active{
    background-image:url("../img/PcsPersonacitve.png")
}

.starticon{
    background-image:url("../img/Starticon.png");
    width:44px;
    height:60px;
    margin-left:6%;
}

.failicon{
    background-image:url("../img/Failicon.png");
    width:40px;
    height:50px;
}

.historyicon{
    background-image:url("../img/History.png");
    width:40px;
    height:50px;
}

.chehui{
    background-image:url("../img/chehui.png");
    width:40px;
    height:60px;
}

.PoliceIcon{
    width:50px;
    height:40px;
    background-image: url("../img/Policeicon.png");
}


.PersonIcon{
    width:40px;
    height:40px;
    background-image:url("../img/PolicePersonIcon.png")
}

.PcsIcon{
    width:80px;
    height:40px;
    background-image:url("../img/Pcs.png");
    background-size:100% 100%;
}

.PcsaddressIcon{
    width:80px;
    height:40px;
    background-image:url("../img/Pcsaddress.png");
    background-size:100% 100%;
}

.PcsnameIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsnameIcon.png");
    background-size:100% 100%;
}

.PcsTimeIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsTime.png");
    background-size:100% 100%;
    margin-left:4%;
}

.PcsCarIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsCarIcont.png");
    background-size:100% 100%;
}

.CarManagement{
    width:40px;
    height:50px;
    background-image:url("../img/PcsCarIcont.png");
    background-size:100% 100%;
}

.Fcjl{
    width:40px;
    height:50px;
    background-image:url("../img/recordicon.png");
    background-size:100% 100%;
}

.PcsCarCardIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsCarCard.png");
    background-size:100% 100%;
}

.PcsmjIcon{
    width:80px;
    height:40px;
    background-image:url("../img/Pcsmj.png");
    background-size:100% 100%;
}

.RegisteIcon{
    width:30px;
    height:40px;
    background-image:url("../img/Pcsmj.png");
    background-size:100% 100%;
}

.PcsbaIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsBA.png");
    background-size:100% 100%;
}

.PcsysIcon{
    width:80px;
    height:40px;
    background-image:url("../img/PcsYs.png");
    background-size:100% 100%;
}

.KssIcon{
    width:80px;
    height:40px;
    background-image:url("../img/KssIcon.png");
    background-size:100% 100%;
}

#addPage ul li .item-inner{
    padding-top:30px !important;
}
