<div data-page="interface/interface" class="page">
	<p>4a 测试页面</p>
	<div class="page-content" style="width:94%;left:3%">
		<p class="buttons-row" style="width:94%;">
			<a href="#" class="init button color-red" value="1" style="left:3%;place-content: center;">用户初始化</a>
			<a href="#" class="init button color-amber" value="2" style="left:3%;place-content: center;">授权初始化</a></p>
		<p><a href="#" id="action1" class="button" style="width:94%;left:3%">获取根组织机构信息</a></p>
		<p><a href="#" id="action2" class="button" style="width:94%;left:3%">获取根下级组织机构信息</a></p>
		<p><a href="#" id="action3" class="button" style="width:94%;left:3%">根据组织机构代码获取机构信息</a></p>
		<p><a href="#" id="action7" class="button" style="width:94%;left:3%">根据组织机构代码获取人员信息</a></p>
		<p><a href="#" id="action4" class="button" style="width:94%;left:3%">根据人员代码获取人员信息</a></p>
		<p><a href="#" id="action5" class="button" style="width:94%;left:3%">获取所有资源数据</a></p>
		<p><a href="#" id="action6" class="button" style="width:94%;left:3%">获取所有角色数据</a></p>
	
		<p>rootCode：<input type="text" name="" id="rootCode" placeholder="根组织机构代码"></p>
		<p>orgCode：<input type="text" name="" id="orgCode" placeholder="组织机构代码"></p>
		<p>userCode：<input type="text" name="" id="userCode" placeholder="人员代码"></p>
	</div>
</div>