<div id="maincontent" class="page-content loginPage">
	<div class="login_content">
		<img src="../img/login_icon.png" class="login_icon">
	</div>

	<div style="margin-top:13%;">
		<div id="login" >
			<a href="javascript:void(0);" class="button button-big button-round button-fill button-raised login-modal" style="width:94%;left:3%;color:ghostwhite;">{{model.user}}已有用户，直接登录</a>
		</div>
		<div id="register">
		<a href="javascript:void(0);" class="button button-big button-round button-fill button-raised"   style="width:94%;left:3%;margin-top:9%;color:ghostwhite;">管理员登录 </a>
		</div>
	</div>

	<div style="color:ghostwhite;font-size:1rem;margin-left: 5%;margin-top: 9%;">
		<p>
			已有用户可直接通过政务微信登录
			<br />
			完善用户信息补充用户信息后进行登录
			<br />
		</p>
		<div style="display:none">
			</p style="margin:5px 0;">
				<a href="#" id="test" style="margin:10px 0">测试</a>
			</p>
		</div>
		<div >
			</p style="margin:5px 0">
				<a href="#" id="deleteRemoteCache" style="margin:10px 0">清除缓存</a>
			</p>
		</div>
		<div style="display:none">
			</p style="margin:5px 0">
				<a href="#" id="interface" >4a测试页面</a>
			</p>
		</div>
	</div>
</div>
