<div class="pages">
	<div class="page navbar-fixed toolbar-fixed" data-page="dsh" style="background: #f7f7f8;">
		<div class="" style="margin: 0px; padding: 0px;">
			<div class="navbar">
				<div class="navbar-inner2">
					<div class="left">
						<a href="#" class="back link"> <i class="icon icon-back"></i> <span>姓名1（青龙派出所）</span>
						</a>
					</div>
				</div>
			</div>
			<div class="list-block accordion-list" style="margin: 0px; padding: 0px;">
				<div href="#" class="item-link" id="jgdw_dsh">
					<div class="item-inner">
						<div class="item-title" style="color: black">收押法律文书照片（3</div>
					</div>
					<div style="margin-top:3%;">
						<span style="font-size:10px;color:#9c7f7f;margin-left:4%">附件上传</span>
					</div>
					<div>
						<img src="" style="width:100px;height:100px;margin:8px;">
						<img src="" style="width:100px;height:100px;margin:8px;">
						<img src="" style="width:100px;height:100px;margin:8px;">
					</div>
				</div>
			</div>
			<div class="toolbar">
				<div class="toolbar-inner">
					<a href="#" id="" class="button button-big button-round active" style="width:25%;">通过</a>
					<a href="#" id="shbtg" class="button button-big button-round active" style="width:25%;">不通过</a>
				</div>
			</div>
			<div id="btgyy" style="display:none">
				<div style="margin-top:5%;">
					<span style="font-size:10px;color:#9c7f7f;margin-left:4%">不通过原因</span>
				</div>
				<div style="margin-top:4%;margin-left:11%">
					<textarea id="jsly" type="text" style="width:85%;height:100px"></textarea>
				</div>
				<div class="toolbar">
					<div class="toolbar-inner">
						<a href="#" id="" class="button button-big button-round active" style="width:100%;">保存</a>
					</div>
				</div>
			</div>

		</div>
	</div>
