<div class="pages">
      <div class="page" data-page="Registering" style="background-color:#708090;text-align:center;">
          <div style="margin:0 auto;margin-top:10%;border-radius:75px;width:80%;height:90%;background-color:#FFFFF0;box-shadow: 10px 10px 5px #888888;">
              <img class="Registering">
              <p style="font-family:  Microsoft YaHei;color:red;font-size:1.8rem;">审核中，请耐心等待...</p>
          </div>
      </div>
</div>
