<div class="page">
	<div class="page-content" >
		<div class="navbar">
			<div class="navbar-inner">
				<a href="javascript:void(0);" class="back link">
					<i class="icon icon-back"></i>
					<span style="padding-top: 3px">上门收押</span>
				</a>
			</div>
		</div>
		<div class="index_bg" style="postion:fixed;">
			<div style="position:absolute;top:15%;left:36%;">
				<h3 style="color: white;text-align: center ">
					<img src="{{model.imageBase64}}" onerror="this.src='img/police.jpg'" height="100" width="100"><br>
					<span style="font-family: cursive;font-size: 15pt;">{{model.username}}</span>
				</h3>
			</div>
		</div>
		<div class="row " style="height:400px;width:100%; position: absolute;"> 
			<div class=" jgdwcontent" style="width:100%;position: relative;overflow: auto;/*overflow: scroll;*/"> 
			</div>
		</div>
	</div>
	<div class="toolbar toolbar-bottom toolbar-hidden page-on-centerPcs">
		<div class="toolbar-inner">
			<div class="left" style="margin-left:4%;">
				<a href="#" id="jgdw_dsm">
					<i class="icon demo-icon-1"></i>
					<div class="tabbar-label" style="font-size:0.9rem;color:black;">待上门</div>
				</a>
			</div>
			<div class="center" id="jgdw_ywbl">
				<a href="#">
					<i class="icon demo-icon-2"></i>
					<div class="tabbar-label" style="font-size:0.9rem;color:black;">业务办理</div>
				</a>
			</div>
			<div class="right">
				<a href="#" id="jgdw_info">
					<i class="icon demo-icon-3"></i>
					<div class="tabbar-label" style="font-size:0.9rem;color:black;">我的信息</div>
				</a>
			</div>
		</div>
	</div>
</div>
