<div class="col-100 tablet-100" style="height:40rem;">
  <div class="list-block homeblock" style="margin:0px !important;">
    <ul style="padding-top: 5px;height:50rem;">
      <div href="javascript:void(0);" class="item-link" id="jgdw_dsh">
        <li class="item-content" style="margin: 0px 0px; ">
          <div class="item-media"><i class="icon starticon"></i></div>
          <div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
            <div class="item-title" style="color: black">待审核<font color="red">({{dshrs}})</font></div>
          </div>
        </li>
      </div>
      <div href="javascript:void(0);" class="item-link" id="jgdw_fcsm">
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon failicon"></i></div>
          <div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
            <div class="item-title" style="color: black;margin-left: 1%;">发车上门</div>
          </div>
        </li>
      </div>
      <div href="javascript:void(0);" class="item-link" id="jgdw_shwtg">
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon historyicon"></i></div>
          <div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
            <div class="item-title" style="color: black;margin-left:1.2%;">未通过人员</div>
          </div>
        </li>
      </div>
      <div href="javascript:void(0);" class="item-link" id="jgdw_clgl">
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon CarManagement"></i></div>
          <div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
            <div class="item-title" style="color: black;margin-left:1.2%;">车辆管理</div>
          </div>
        </li>
      </div>
      <div href="javascript:void(0);" class="item-link" id="jgdw_fcjl">
        <li class="item-content" style="margin: 10px 0px;">
          <div class="item-media"><i class="icon Fcjl"></i></div>
          <div class="item-inner" style="border-bottom: 1px solid #D3D3D3;">
            <div class="item-title" style="color: black;margin-left:1.2%;">发车记录</div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
