<div class="page-content" style="background-color:#fff;z-index:1000">
	<div class="item-title label" style="margin: 5px 0;text-align: center;font-size: 18px;">地址</div>
	<div class="list-block" style="margin: 0px 0;">
	  <ul>
	    <!-- Additional "align-top" class for correct textarea alignment -->
	    <li class="align-top" style="height: 130px;">
	      <div class="item-content">
	        <div class="item-inner">
	          <div class="item-input">
	              <textarea class="addressText" style="height: 125px;">{{address}}</textarea>
	          </div>
	        </div>
	      </div>
	    </li>
	  </ul>
	</div>
	<p class="buttons-row" style="width:94%;">
		<a href="#" class="addressSubmit button button-fill color-green button-round" style="left:3%;place-content: center;display: inline-grid;">确认</a>
		<a href="#" class="addressCancel button button-fill color-red button-round" style="left:3%;place-content: center;display: inline-grid;">取消</a>
	</p>
</div>
