<ul id="select">
  <li class="item-content dwtype" value="1" typeS="监管单位">
    <div class="item-inner">
      <div class="item-title " style="font-size:1.2rem;color:cornflowerblue">监管单位</div>
    </div>
  </li>
  <li class="item-content dwtype" value="0" typeS="办案单位">
    <div class="item-inner">
      <div class="item-title" style="font-size:1.2rem;color:cornflowerblue">办案单位</div>
    </div>
  </li>
</ul>
