  <li class="item-content xbtype" value="1" xbS="男">
    <div class="item-inner">
      <div class="item-title xbtype" style="font-size:1.2rem;color:cornflowerblue">男</div>
    </div>
  </li>
  <li class="item-content xbtype" value="2" xbS="女">
    <div class="item-inner" id="nv">
      <div class="item-title xbtype" style="font-size:1.2rem;color:cornflowerblue">女</div>
    </div>
  </li>
