<div class="page toolbar-fixed">
	<div class="page-content" style="padding-top: 0px;">
		<div class="navbar">
			<!-- 导航条-->
			<div class="navbar-inner">
				<a href="javascript:void(0);" class="link back">
					<i class="icon icon-back"></i>
					<span style="padding-top: 3px">返回</span>
				</a>
				<div class="buttons-row">
				    <a href="#tab1" id="showTab1" class="tab-link active button" style="width: 78px">已发车</a>
				    <a href="#tab2" id="showTab2" class="tab-link button" style="width: 78px">延迟发车</a>
				    <a href="#tab3" id="showTab3" class="tab-link button" style="width: 78px">发车记录</a>
				</div>
			</div>
		</div>
		<div class="searchbar searchbar-showFcjl">
			<div class="searchbar-input">
			    <input type="search" placeholder="请输入车牌号或发车时间...">
			    <a href="#" class="searchbar-clear"></a>
			</div>
			<a href="#" class="searchbar-cancel">取消</a>
		</div>
		<div class="searchbar-overlay"></div>
		<div class="page-content">
		    <div class="content-block searchbar-not-found">
		         未搜索到结果...
		    </div>
		    <div class="list-block list-block-search searchbar-found" style="margin-top: 0px;">
		
				<div class="page-content tabs">
					<div id="tab1" class="tab active">
				        <div class="content-block tab1 showTab" style="height:100%;width:100%;margin: 0 0;padding: 0 0;">
				        </div>
					</div>
					<!-- Tab 2 -->
					<div id="tab2" class="tab">
						<div class="content-block tab2 showTab" style="height:100%;width:100%;margin: 0 0;padding: 0 0;">
				        </div>
					</div>
					<!-- Tab 3 -->
					<div id="tab3" class="tab">
						<div class="content-block tab3 showTab" style="height:100%;width:100%;margin: 0 0;padding: 0 0;">
				        </div>
					</div>
				</div>
		        <div class="popup popup-cxfc">
				    <div class="content-block">
				      <p>About</p>
				      <p><a href="#" class="close-popup">Close popup</a></p>
				      <p>Lorem ipsum dolor ...</p>
				    </div>
				</div>
		    </div>
		</div>
	</div>
</div>
