<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.internet.servers.server.dao.UnitcommonlyDao">
    <resultMap id="UnitcommonlyResultMap" type="awd.cloud.internet.servers.server.entity.UnitcommonlyEntity">
        <result property="id" column="id" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="dwbh" column="dwbh" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="type" column="type" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="dwmc" column="dwmc" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="userids" column="userids" javaType="java.lang.String" jdbcType="LONGVARCHAR"/>

        <result property="state" column="state" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="creator" column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="createtime" column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>

        <result property="updator" column="updator" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="updatetime" column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>

    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'UnitcommonlyResultMap'"/>
        <bind name="tableName" value="'unitcommonly'"/>
    </sql>

    <insert id="insert" parameterType="awd.cloud.internet.servers.server.entity.UnitcommonlyEntity">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from unitcommonly where id =#{id}
    </delete>

    <delete id="deleteTable">
        delete from unitcommonly 
    </delete>
    
    <delete id="delete" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="awd.framework.common.entity.Entity" resultMap="UnitcommonlyResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="awd.framework.common.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <select id="sequid" resultType="String">
        <include refid="config"/>
        <include refid="BasicMapper.buildIdSqlMysql"/>
    </select>
</mapper>
