<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="awd.cloud.internet.servers.server.dao.UserinfoDao">
    <resultMap id="UserinfoResultMap" type="awd.cloud.internet.servers.server.entity.UserinfoEntity">
        <result property="id" column="id" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="dwbh" column="dwbh" javaType="java.lang.String" jdbcType="VARCHAR"/>
        
        <result property="wxh" column="wxh" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="userid" column="userid" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="username" column="username" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="xb" column="xb" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="jh" column="jh" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="phone" column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="unit" column="unit" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="address" column="address" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="type" column="type" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="state" column="state" javaType="java.lang.String" jdbcType="VARCHAR"/>
        
        <result property="shbz" column="shbz" javaType="java.lang.String" jdbcType="CHAR"/>

        <result property="creator" column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="createtime" column="createtime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>

        <result property="updator" column="updator" javaType="java.lang.String" jdbcType="VARCHAR"/>

        <result property="updatetime" column="updatetime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>

    </resultMap>

    <!--用于动态生成sql所需的配置-->
    <sql id="config">
        <bind name="resultMapId" value="'UserinfoResultMap'"/>
        <bind name="tableName" value="'userinfo'"/>
    </sql>
    <insert id="insert" parameterType="awd.cloud.internet.servers.server.entity.UserinfoEntity">
        <include refid="config"/>
        <include refid="BasicMapper.buildInsertSql"/>
    </insert>

    <delete id="deleteByPk" parameterType="String">
        delete from userinfo where id =#{id}
    </delete>

    <delete id="delete" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildDeleteSql"/>
    </delete>

    <update id="update" parameterType="awd.framework.common.entity.Entity">
        <include refid="config"/>
        <include refid="BasicMapper.buildUpdateSql"/>
    </update>

    <select id="query" parameterType="awd.framework.common.entity.Entity" resultMap="UserinfoResultMap">
        <include refid="config"/>
        <include refid="BasicMapper.buildSelectSql"/>
    </select>

    <select id="count" parameterType="awd.framework.common.entity.Entity" resultType="int">
        <include refid="config"/>
        <include refid="BasicMapper.buildTotalSql"/>
    </select>

    <select id="sequid" resultType="String">
        <include refid="config"/>
        <include refid="BasicMapper.buildIdSqlMysql"/>
    </select>
    
    <insert id="addUser" parameterType="map">
       INSERT INTO userinfo
		(ID, DWBH, WXH, `TYPE`,USERNAME,XB,JH,PHONE, STATE,CREATOR,CREATETIME)
		VALUES(#{id}, #{dwbh}, #{wxh}, #{type},#{username},#{xb},#{jh},#{phone} 'R2',' ',new Date())
    </insert>
    
    <select id="loginCheck" parameterType="String" resultType="awd.cloud.internet.servers.server.entity.UserinfoEntity">
		SELECT * FROM USERINFO WHERE WXH = #{wxh}
    </select>
</mapper>
