<div class="">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><span>Slide 1</span></div>
      <div class="swiper-slide"><span>Slide 2</span></div>
      <div class="swiper-slide"><span>Slide 3</span></div>
      <div class="swiper-slide"><span>Slide 4</span></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="row">
    <div class="col-50">
      <a href="javascript:void(0);" class="button button-big button-red">否决</a>
    </div>
    <div class="col-50">
      <a href="javascript:void(0);" class="button button-big button-green">通过</a>
    </div>
  </div>
</div>
