<div data-page="admin/admin" class="page">
	        <div class=" login-screen-content"  style="height: 100%;">
	          <div class="login-screen-title">管理员登录</div>
	          <form id="adminform">
	            <div class="list-block">
	              <ul>
	                <li class="item-content">
	                  <div class="item-inner">
	                    <div class="item-title label">监所名称</div>
	                    <div class="item-input">
	                      <input type="text" id="dwbhfm"  name="jsbh" style="display: none"  />
	                      <input type="text"  placeholder="监所名称" id="choosemc">
	                    </div>
	                  </div>
	                </li>
	                <li class="item-content">
	                  <div class="item-inner">
	                    <div class="item-title label">密码</div>
	                    <div class="item-input">
	                      <input type="password" name="password" placeholder="登录密码">
	                    </div>
	                  </div>
	                </li>
	              </ul>
	            </div>
	            <div class="list-block">
	              <ul>
	                <li><a href="#" class="button button-big button-round button-fill button-raised" id="adminlogin" style="width:94%;left:3%">登录</a></li>
	              </ul>
	              <div class="list-block-label">
	                <p><a href="#" class="close-login-screen">关闭管理员登录页面</a></p>
	              </div>
	            </div>
	          </form>
	        </div>
	      </div>