<div class="list-block accordion-list" style="width:100%; margin:0 0;">
  <ul>
    <li class="accordion-item"><a href="javascript:void(0);" class="item-content item-link" id="badw_fqsm">
        <div class="item-inner">
          <div class="item-title">发起上门</div>
        </div>
      </a>
    </li>
    <li class="accordion-item"><a href="javascript:void(0);" class="item-content item-link" id="badw_wtgry">
        <div class="item-inner">
          <div class="item-title">未通过人员<font color="red">({{wtgrs}})</font></div>
        </div>
      </a>
    </li>
    <li class="accordion-item"><a href="javascript:void(0);" class="item-content item-link" id="badw_lsxx">
        <div class="item-inner">
          <div class="item-title">历史信息</div>
        </div>
      </a>
    </li>
    <li class="accordion-item"><a href="javascript:void(0);" class="item-content item-link" id="badw_cydwsz">
        <div class="item-inner">
          <div class="item-title">常用单位设置</div>
        </div>
      </a>
    </li>
  </ul>
</div>
